<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sx.takeaway"
    >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!--短信验证权限-->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".ui.activity.MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--短信验证-->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            />

        <!--商家详情-->
        <activity
            android:name=".ui.activity.SellerDetailActivity"
            android:theme="@style/ActivityTheme"
            />

        <!--购物车页面-->
        <activity
            android:name=".ui.activity.CartActivity"
            />

        <!--登录界面-->
        <activity
            android:name=".ui.activity.LoginActivity"
            />

        <!--结算中心-->
        <activity
            android:name=".ui.activity.SettleCenterActivity"
            />

        <!--收货地址-->
        <activity android:name=".ui.activity.ReceiptAddressActivity"/>

        <!--编辑收货地址-->
        <activity
            android:name=".ui.activity.EditReceiptAddressActivity"
            android:theme="@style/ActivityTheme"
            />

        <!--在线支付-->
        <activity
            android:name=".ui.activity.OnlinePayActivity"
            android:theme="@style/ActivityTheme"
            />

    </application>

</manifest>